@media screen and (max-width: 900px) {
	body{
		background-size: contain;
		overflow-y: hidden;
	}

	html{
		overflow-y: hidden;
	}

	#about{
		overflow-x: hidden;
	}
	#about h2{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-size: 16vw;
	}

	#about #board{
		width: 90vw;
		float: none;
	}

	#about p{
		font-size: 7vw;
		padding: 2vw 0 6vw 0;
	}

	#about img{
		width: 26vw;
	}

	#processtitle{
		font-size: 16vw;
		width: 52vw;
		height: 20vw;
		margin: 6vw 0 0 26vw;
	}

	#allprojectstitle{
		top: 30vw;
		font-size: 10vw;
		height: 10vw;

	}

	#allprojects{
		top: 40vw;
		grid-template-columns: auto;
		height: 170vw;
	}
	#process a{
		font-size: 6vw;
	}

	#extras h2{
		font-size: 16vw;
		margin: 6vw 0 0 0;
	}

	iframe{
		height: 74vh;
	}
}