---
---

*{
	margin: 0;
	padding: 0;
}

body{
/*	background-image: url({{ "/assets/media/images/1xbkg.png" | relativeurl }});*/
	background-size: cover;
 	background-attachment: fixed;
 	isolation: isolate;
 	background-color: white;
}

main{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	width: fit-content;
	height: 100vh;
	top: 0;
}

#bkg{
	position: fixed;
	height: 100vh;
	width: 100vw;
	mix-blend-mode: multiply;
	z-index: -100;
	pointer-events: none;
	object-fit: cover;
}

#overlay{
	top: 0;
	position: absolute;
	height: 100vh;
	width: 100%;
	mix-blend-mode: multiply;
	z-index: 100;
	pointer-events: none;
	z-index: 100;
}

#skateBar{
	position: absolute;
	bottom: 0;
}

#home{
	width: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#home img{
	width: 25vh;
}

#loop{
	width: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#loop img{
	width: 25vh;
}

#about{
	padding: 3vw;
	overflow-y: auto;
	color: var(--pinkish);
	width: 100vh;
	height: 100vh;
}

#about #board{
	float: left;
	outline: solid var(--pinkish) 2px;
	width: 17vh;
	margin: 0 2vh 0 5vh;
}

#aboutHeader{
	background-color: var(--pinkish);
	color: var(--reddish);
	/*	height: fit-content;*/
	width: 50vh;
	padding: 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(-5deg);
	font-family: picnic;
	font-size: 10vh;
	z-index: 101;
}



#about img{
	width: 13vh;
}

#about p{
	font-size: 3vh;
	font-family: "sans-black";
	margin: 0 4vh 0 5vh;
	background-color: var(--reddish);
	padding: 2vh;
}

#about .content{
	top: 0;
}

#process{
	margin-top: 14vh;
	font-family: "bodoni-mt";
	outline: solid black 1px;
	background-color: white;
}

#process svg{
	background-color: white;
}

#process a{
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	text-decoration: none;
	outline: solid black 1px;
	font-size: 3vh;
	color: black;
	margin: 2vh;
	padding: 0 2vh 0 2vh;
}

#process a:last-of-type{
	color: white;
	background-color: black;
}

#process a:hover{
	text-decoration: underline 2px;
	text-underline-offset: 2px;
}


#processtitle{
	position: absolute;
	background-color: black;
	color: white;
	height: fit-content;
	width: 50vh;
	padding: 1vh;
	margin-left:25vh;
	display: flex;
	transform: rotate(2deg);
	justify-content: center;
	align-items: center;
	font-size: 10vh;
	top: 6vh;

}

#allprojectstitle{
	font-size: 2vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	outline: solid black 1px;
	outline-offset: -1px;
	position: absolute;
	top: 22vh;
	height: 2vh;
	width: 92vh;
	margin: 0 0 0 4vh;
}

#allprojects{
	display: grid;
	grid-template-columns: auto auto auto auto;
	overflow-x: auto;
	overflow-y: hidden;
	position: absolute;
	align-items: center;
	top: 24vh;
	margin: 0 0 0 4vh;
	width: 92vh;
	height: 62vh;
	outline: solid black 1px;
	outline-offset: -1px;
	background-color: white;
}

#allprojects a{
	height: fit-content;
}



#downloads{
	width: 100vh;
	height: 100vh;
	padding: 2vh;
}

#downloadsHeader{
	position: absolute;
	color: var(--blueish);
	background-color: var(--yellowish);
	top: 5vh;
	padding: 2vh 4vh 2vh 4vh;
	justify-content: center;
	align-items: center;
/*	margin: 2vh 0 0 -50vh;*/
	transform: rotate(-2deg);
	font-family: "baldur";
	font-size: 8vh;
	margin: 0 8vh;
	z-index: 1;
}

#downloadsContent{
	background-color: var(--blueish);
	display: flex;
	width: 100%;
	height: 80vh;
	margin: 10vh;
}

#downloadsContent div{
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	align-items: center;
	justify-items: center;
}

#downloadsContent h2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2vh;
	padding: 1vh;
	font-family: "baldur";
	font-size: 3vh;
}


#downloadsContent h2:nth-of-type(0n+1){
	font-family: sans-black;
	font-size: 4.5vh;
	height: fit-content;
	transform: rotate(2deg);
	color: var(--reddish);
	border-radius: 30vh;
	background-color: var(--pinkish);
	outline: var(--pinkish) solid .4vh;
	border: var(--reddish) solid .4vh;
	padding: 1vh;
}


#downloadsContent h2:nth-of-type(0n+2) a{
	font-family: baldur;
	font-size: 10vh;
	color: white;
	transform: rotate(-5deg);
	-webkit-text-stroke: 1px var(--reddish);
}

#downloadsContent h2:nth-of-type(0n+2) a:hover{
	text-decoration-thickness: .7vh;
	text-underline-offset: .5vh;
}

#downloadsContent h2:nth-of-type(0n+3){
	font-family: bodoni-mt;
	transform: rotate(8deg);
	color: rgb(30, 30, 30);
	background-color: white;
	border-radius: 2vh;
	height: fit-content;
	width: fit-content;
	outline: white solid .4vh;
	border: rgb(30, 30, 30) solid .4vh;
}

#downloadsContent h2:nth-of-type(0n+4) a{
	font-family: hobeaux-roco;
	transform: rotate(-4deg);
	font-size: 8vh;
	letter-spacing: -1vh;
	color: var(--greenish);
	-webkit-text-stroke: 2px white;
	line-height: .7;
}

#downloadsContent h2:nth-of-type(0n+5){
	font-family: sans-serif;
	transform: rotate(-3deg);
	color: white;
	font-size:3 vh;
	height: fit-content;
	width: fit-content;
	background-color: var(--yellowish);
	outline: var(--yellowish) solid .4vh;
	border: white solid .4vh;
}

#downloadsContent h2:nth-of-type(0n+6) a{
	font-family: picnic;
	transform: rotate(2deg);
	color: blue;
	font-size: 6vh;
	line-height: .6;
	letter-spacing: -.2vh;
	padding: 2vh;
	-webkit-text-stroke: 1px white;
}

#downloadsContent a{
	text-decoration: none;
	color: currentColor;
}

#downloadsContent a:hover{
	text-decoration: underline;
	text-decoration-thickness: .3vh;
	text-underline-offset: .4vh;
4


